body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

.message{
    width: 100%;
    display: flex;
}
.mine{
    justify-content: right;
}
.my-msg{
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px 0px 10px 10px;
    background-color: blue !important;
    color: #fff;
}
.my-msg::before{
    width:20px;
    height:20px;
    content:'';
    position:absolute;
    top:0;
    right:-17px;
    background: linear-gradient(135deg, blue 0%, blue 50%, transparent 50%, transparent);
}

.del-msg{
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 10px 0px 10px 10px;
    background-color: #808080;
    color: #fff;
}

.del-msg::before{
	width:20px;
    height:20px;
    content:'';
    position:absolute;
    top:0;
    right:-17px;
    background: linear-gradient(135deg, #808080 0%, #808080 50%, transparent 50%, transparent);
}

.del-msg-frnd{
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    background-color: #808080;
}

.del-msg-frnd::before{
	width:20px;
    height:20px;
    content:'';
    position:absolute;
    top:0;
    left:-17px;
    background: linear-gradient(225deg, #808080 0%, #808080 50%, transparent 50%, transparent);
}


.frnd{
    justify-content: left;
}
.frnd-msg{
    position: relative;
    width: fit-content;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 0px 10px 10px 10px;
    background-color: blue !important;
}
.frnd-msg::before{
    width:20px;
    height:20px;
    content:'';
    position:absolute;
    top:0;
    left:-17px;
    background: linear-gradient(225deg, blue 0%,blue 50%, transparent 50%, transparent);
}